.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2%;
  gap: 1rem;
  height: 88vh;
  overflow: hidden;
  border-bottom: 5px solid #FFD700;
}

.home img {
  height: 24rem;
  width: 27rem;
}
